.donate {
  .text-block h2 {
    @apply text-torch-red;
  }
  .donate-options .donation-option:last-of-type, .container-fluid:last-of-type section:last-of-type .supporter-tier:last-of-type {
    margin-bottom: 0!important;
  }
  #online-donations .amount-option {
    border-width:1px;
    @apply border-light-grey;
  }

	.supporter-tier {
		.text-block {
			span {
				font-size: 1.1rem!important;
				@media (min-width: 768px) {
					font-size: 1.28rem!important;
				}
				@media (min-width: 1024px) {
					font-size: 1.4rem!important;
				}
			}
		}
	}
}
