// Headings

b,
strong,
.body-sans.font-medium {
  font-weight: 500;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}

// Headings

.heading-1,
.heading-feature {
  @apply text-4xl sm:text-4.5xl md:text-5.5xl xl:text-6xl 2xl:text-6.5xl 3xl:text-7xl font-bold font-display antialiased;
}

.heading-1-regular,
.heading-feature-regular {
  @apply text-4xl sm:text-4.5xl md:text-5.5xl xl:text-6xl 2xl:text-6.5xl 3xl:text-7xl font-display antialiased;
}

.heading-exhibition {
  @apply text-5xl md:text-7xl lg:text-8xl 2xl:text-9xl font-display antialiased;
}

.heading-2 {
  @apply font-display font-bold text-3xl md:text-4xl lg:text-5xl antialiased;
}

.heading-2-regular {
  @apply font-display text-3xl md:text-4xl lg:text-5xl antialiased;
}

.text-block h2,
.heading-3 {
  @apply font-display font-bold text-2.5xl md:text-3xl lg:text-4xl antialiased;
  letter-spacing: -0.01em;
}

.heading-3-regular,
.text-block h3,
.body-sans h3 {
  @apply font-display text-2.5xl md:text-3xl lg:text-4xl antialiased;
}

.heading-4,
.digital-project .text-block h3 {
  @apply text-xl-tight md:text-2xl lg:text-2.5xl font-bold font-display antialiased;
}

.heading-4-regular {
  @apply text-xl-tight md:text-2xl lg:text-2.5xl font-display antialiased;
}

.heading-3-4 {
  @apply text-xl-tight md:text-2xl lg:text-2.5xl xl:text-4xl font-bold font-display antialiased;
}

.heading-3-4-regular {
  @apply text-xl-tight md:text-2xl lg:text-2.5xl xl:text-4xl font-display antialiased;
}

.heading-3-2col-regular {
  @apply font-display text-xl-tight md:text-3xl lg:text-4xl antialiased;
}

// Body

.body-serif {
  @apply font-serif whitespace-pre-line text-base md:text-lg lg:text-xl antialiased;
}

.body-sans,
.info-block-text-wrapper p {
  @apply font-sans whitespace-pre-line text-basesans md:text-lgsans lg:text-xlsans antialiased;
}

//Medium
.medium-small {
  @apply font-sans whitespace-pre-line text-sm sm:text-md md:text-basesans antialiased;
  line-height: 125%;
}

// Small

.small-serif {
  @apply font-serif text-sm lg:text-md antialiased;
}

.small-sans {
  @apply font-sans text-sm-tight antialiased;
}

.small-sans-medium {
  @apply font-sans text-sm-tight xl:text-md antialiased font-medium;
}


// Large
.body-sans-large {
  @apply font-sans text-lg sm:text-xl md:text-2xl lg:text-2.5xl xl:text-3xl antialiased;
	line-height: 125%;
}
